<section
  class="hero text-center d-flex justify-content-center align-items-center"
>
  <div>
    <h1>Hello, I'm Sípos Szabolcs</h1>
    <p style="font-size: 32px" class="mb-4">Full-Stack Web Developer</p>

    <div style="position: relative; width: 75vw; margin: 0 auto">
      <hr class="border" style="width: 100%; margin: 0 auto" />
      <img
        [src]="catImg"
        height="30px"
        style="position: absolute; top: -30px; right: 0; z-index: 1"
        alt="Cat Image"
      />
    </div>

    <a href="#portfolio" class="btn btn-primary mt-4 ml-3">View My Work</a>
  </div>
</section>
